.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.7); 
	backdrop-filter: blur(2px);

	.overlay .content {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	p {
		color: #BC60FA;
		font-weight: 500;
		font-size: 50px;
		text-align: center;
	}


}