/* buttonStyle */
.buttonStyle {
  padding: 10px 20px;
  font-size: 18px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.canvasContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* joystickStyle */
.joystickStyle {
  position: absolute;
  display: none;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  touch-action: none;
}

/* joystickHandleStyle */
.joystickHandleStyle {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
