.buttonStyle {
  padding: 10px 20px;
  font-size: 18px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
}

.playerOnline {
  position: absolute;
  top: 2vh;
  left: 1vw;
  color: #BC60FA;
  font-size: 24px;
  font-weight: 500;
  line-height: 18.75px;
}

.timer {
  position: absolute;
  top: 230px;
  right: 10px;
}

@media (max-width: 431px) {
  .timer {
    top: 160px;
  }
}

.boostButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 10px;
  z-index: 9999;
  cursor: pointer;
}

.boostButton:active {
  background-color: #cc3700;
}
