.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.depositButton {
  max-width: 300px;
  width: 100%;
  height: 55px;
  border-radius: 20px;
  color: white;
  background: #00A2EA;
  box-shadow: 0px 4px 9px 0px #D9BEF940 inset;
  box-shadow: 0px 4px 88.5px 0px #D9BEF940 inset;
  box-shadow: 0px 9px 81.7px 0px #D9BEF940;
  box-shadow: 0px 2px 0px 0px #0098E0;

  @media (max-height: 431px) {
		height: 40px;
	}
}

.confirmButton {
  margin-top: 30px;
  max-width: 196px;
  width: 100%;
  height: 55px;
  border-radius: 20px;
  color: white;
  background: #00A2EA;
  box-shadow: 0px 4px 9px 0px #D9BEF940 inset;
  box-shadow: 0px 4px 88.5px 0px #D9BEF940 inset;
  box-shadow: 0px 9px 81.7px 0px #D9BEF940;
  box-shadow: 0px 2px 0px 0px #0098E0;
}



.modalOverlay.active {
  visibility: visible;
  opacity: 1;
}

.modalContent {
	position: relative;
  background: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 402px;
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modalClose {
  top: 0px;
  right: 0px;
  font-size: 18px;
  background: none;
	position: absolute;
  border: none;
  cursor: pointer;
}

.fill {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fill input {
  background-color: #EAEAEB;
  height: 40px;
  color: black;
  width: 318px;
  padding: 0 13px;
  border-radius: 15px;
  outline: none;
  border: none;
}

.modalContent p {
  margin: 0;
}

.title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}