.gameCanvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
	touch-action: none;
  z-index: 999;
}

.joystick {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.joystickHandle {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
